body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 962px) {
  #root {
    flex-direction: column;
  }
  #root .sidebar {
    order: 2;
  }
}

#root {
  display: flex;
}
#root .sidebar {
  flex: 1;
  background: #202226;
}
#root .main {
  flex: 4;
  overflow: auto;
}

/* Loading Screen  */
.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202226;
  bottom: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loaderContainer .progress {
  position: relative;
  height: 10px;
  width: 10%;
  border: 5px solid #61e3f4;
  border-radius: 15px;
}
.loaderContainer h3 {
  color: white;
}
.loaderContainer .progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: loader 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes loader{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};

@media (max-width: 400px) {
  .loaderContainer .progress {
    height: 8px;
    width: 20%;
    border: 3px solid #61e3f4;
  }
  .loaderContainer .progress .color {
    height: 8px;
  }
}
